<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <div class="section">
    <h4>Rated Things:</h4>
    <table class="centered">
      <thead class="blue lighten-4">
        <tr>
          <th>Name</th>
          <th>Rating</th>
          <th>Description</th>
          <th>Details</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < stuff.length; i++){ %> 
          <% console.log(stuff) %> 
        <tr>
          <td><%= stuff[i].name %></td>
          <td><%= stuff[i].rating %></td>
          <td><%= stuff[i].description %></td>
          <td><a class="waves-effect waves-light btn" href="/inventory/edit/<%=stuff[i].id%>"><i class="material-icons right">edit</i>Info/Edit</a></td>
          <td><a class="waves-effect waves-light btn red" href="/inventory/edit/<%=stuff[i].id%>/delete"><i class="material-icons right">delete</i>Delete</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="section">
    <div class="container">
      <h4>Rate New Items:</h4>
      <form class="row" method="post">
        <div class="input-field col s6">
          <input placeholder="Jack Joseph Crowely (ATCS 2025)" id="first_name" name='name' type="text" class="validate" style="margin-top: 2%;">
          <label for="first_name">Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="0/10" id="rating" name='rating' type="text" class="validate" style="margin-top: 2%;">
          <label for="rating">Rating</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="He is a terrible friend who is not supportive and is not fun to talk to." id="description" name='description' type="text" class="validate">
          <label for="description">Description</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit"><i class="material-icons right">send</i>Submit</button>
      </form>
    </div>
  </div>
  <a class="btn waves-effect waves-light" href="/"><i class="material-icons left">arrow_back</i>Back</a>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/scripts/slider.js"></script>
</body>

</html>